@import "header";

html {
	min-height: 100%;
}

body {
	position: relative;
	height: 100%;
	background: linear-gradient(#65bcff, #92d0ff);
}

.background-clouds {
	position: absolute;
	height: 500px;
	top: 55px;
	left: 0;
	right: 0;
	background-image: url('../assets/images/background_clouds.png');
}

.background-buildings {
	position: absolute;
	height: 700px;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-image: url('../assets/images/background_cityline.png');
}

.main-column {
	position: relative;
	max-width: map-get($media-sizes, lg);
	min-width: map-get($media-sizes, sm);
	margin: auto;
}

main {
	min-height: 1000px;
	background-color: #06375c;
	box-shadow: -5px 5px 0 5px #1766a1 inset;
}

.main-content {
	margin: 20px;
}

.tab {
	display: none;
	color: #fff;
	font-family: "SourceCodePro";
}

@keyframes float {
    0%   { transform: translateY(10px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}

@include media-above(md) {
	main {
		padding-top: 65px;
	}
}