@import "header";

html {
	min-height: 100%;
}

body {
	position: relative;
	height: 100%;
	background: linear-gradient(#65bcff, #92d0ff);
}

.centered-section {
	max-width: 750px;
	margin: 50px auto;
}

.background-clouds {
	position: absolute;
	height: 500px;
	top: 55px;
	left: 0;
	right: 0;
	background-image: url('../assets/images/background_clouds.png');
}

.background-buildings {
	position: absolute;
	height: 300px;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-image: url('../assets/images/background_cityline.png');
}

.main-column {
	position: relative;
	max-width: map-get($media-sizes, lg);
	min-width: map-get($media-sizes, sm);
	margin: auto;
}

main {
	@include shade(4px, 0, false);

	min-height: 1000px;
	padding-bottom: 100px;
	background-color: #06375c;
}

.main-content {
	margin: 45px 45px 0 45px;
}

.tab {
	display: none;
	color: #fff;
	font-family: "SourceCodePro";
}

@keyframes float {
    0%   { transform: translateY(10px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}

@include media-above(md) {
	main {
		padding-top: 65px;
	}
}