$media-sizes: (
	xs: 0px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

@mixin media-above($key) {
	@media (min-width: map-get($media-sizes, $key)) {
		@content;
	}
}

@mixin media-below($key) {
	@media (max-width: map-get($media-sizes, $key)) {
		@content;
	}
}

@mixin shade($amount, $offset: 0, $shadow: true) {
	position: relative;
	box-shadow: -1 * $amount $amount 0 $amount #1766a1 inset;

	@if ($shadow) {
		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 15px;
			left: $offset;
			right: $offset;
			bottom: -15px;
			background: linear-gradient(rgba(#000, .2), rgba(#000, 0));
		}
	}
}