nav {
	display: flex;
	width: calc(100% + 20px);
	margin: 0 0 0 -10px;
	background-color: $main-background-color;
	box-shadow: -5px 5px 0 5px #1766a1 inset;
}

a {
	text-decoration: none;
}

.nav-btn {
	display: block;
	height: 100px;
	flex-grow: 1;
	background-repeat: no-repeat;
	background-position: center 30px;
	font-family: Commando;
	text-align: center;
	font-size: 40px;
	color: $highlight-color;
	text-shadow: 4px 4px 0 #000000;
	line-height: 110px;
	transition: all .15s;

	&.active {
		font-size: 50px;
		line-height: 115px;
		background-image: url('../assets/images/tab_highlight.png');
	}

	&:hover { 
    	color: #fffae1;
	}
}

@include media-below(lg) {
	nav {
		width: 100%;
		margin: 0;
	}
}

@include media-above(md) {
	.nav-btn {
		font-size: 70px;

		&.active {
			font-size: 80px;
		}
	}
}