html, body {
	height: 100%;
}

body {
	position: relative;
	background: linear-gradient(#65bcff, #92d0ff);
}

.background-clouds {
	position: absolute;
	height: 500px;
	top: 50px;
	left: 0;
	right: 0;
	background-image: url('../assets/images/background_clouds.png');
}

.background-buildings {
	position: absolute;
	height: 700px;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-image: url('../assets/images/background_cityline.png');
}

.main-column {
	position: relative;
	width: 1000px;
	margin: auto;
}

header {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.powers-logo {
	position: absolute;
	top: 170px;
	left: calc(50% - 325px);
	animation: float 10s infinite linear;
}

.header-sil {
	position: absolute;
}

.whirlwind-sil {
	top: 90px;
	left: 65px;
	animation: float 14s infinite linear;
}

.phaser-sil {
	right: 140px;
	bottom: -50px;
}

.prinxess-sil {
	right: 85px;
	bottom: -40px;
}

main {
	height: 1000px;
	background-color: #06375c;
	box-shadow: -5px 5px 0 5px #1766a1 inset;
	padding-top: 65px;
}

.main-content {
	margin: 50px;
}

@keyframes float {
    0%   { transform: translateY(10px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}