@import "~normalize.css/normalize.css";
@import "layout";
@import "ui";

@font-face {
    font-family: 'Commando';
    src: url('../assets/fonts/commando.ttf');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../assets/fonts/SourceCodePro.ttf');
}