@import "~normalize.css/normalize.css";
@import "vars";
@import "layout";
@import "ui";
@import "heroes";
@import "game";
@import "press";

@font-face {
    font-family: 'Commando';
    src: url('../assets/fonts/commando.ttf');
}

@font-face {
    font-family: 'SourceCodePro';
    src: url('../assets/fonts/SourceCodePro.ttf');
}